.root {
    -fx-background-color: rgb(20,20,20);
}

.label {
    -fx-text-fill: White;
}

.button {
    -fx-background-color: #171717;
    -fx-border-color: #717171;
    -fx-border-radius: 5;
    -fx-text-fill: #717171;
}