.root {
    -fx-background-color: #171717;
}

#title{
    -fx-text-fill: WHITE;
}

.button {
    -fx-background-color: #171717;
    -fx-border-color: #717171;
    -fx-border-radius: 5;
    -fx-text-fill: #717171;
}